snippet sdh "Email-Anrede" bA
Sehr geehrte Damen und Herren $0,
endsnippet

# No automatic (`A`) expansion/option because it disables typing `print` functions at line start
snippet pr "Philipp Rost" b
Philipp Rost
endsnippet

snippet gruß "Grußformel" bA
Viele Grüße,
Philipp Rost
endsnippet

snippet emailc "Complete Email stump" bA
Sehr geehrte Damen und Herren,

${0:Contents...}

Viele Grüße,
Philipp Rost
endsnippet
