snippet fundef "function_definition (Tree-Sitter Node)" wA
function_definition
endsnippet

snippet classdef "class_definition (Tree-Sitter Node)" wA
class_defintion
endsnippet

snippet nty "NodeType" wA
NodeType
endsnippet

snippet eno "EnrichedNode" wA
EnrichedNode
endsnippet

snippet pyl "PYTHON-LANGUAGE" wA
PYTHON_LANGUAGE
endsnippet
