snippet ## "Line comment for  htmldjango" bA
{# $1 #}$0
endsnippet

snippet %% "Template code for htmldjango" A
{% $1 %}
  $0
{% end$1 %}
endsnippet

snippet if "if-block for htmldjango" bwA
{% if $0 %}
  $1
{% endif %}
endsnippet
